
.item-detail{
	position: relative;
}


#itemCarousel.carousel .carousel-indicators{
	bottom: 10px;
}

#itemCarousel.carousel .carousel-indicators > li{
	background-color: #e84a64;
	border: none;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
	width: 100%;
	position: absolute;
	margin: auto;
}

.carousel-control.left,
.carousel-control.right{
	background-image: none;
}

.item-info{
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 1em;
	background-color: #FFFFFF;
}

.item-info > p {
	padding-left: 16px;
}

.upload-font{
	color: #78909C;
	font-size: 18px;
}

.item-action{
	padding: 16px 16px 16px 16px;
	border-top: solid 1px #78909C; 
	border-radius: 1em;
	background-color: #FFFFFF;
	height: auto;
}

.item-comment{
	margin-top: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	border-radius: 1em;
	background-color: #FFFFFF;
}

.comment-font > p{
	color: #263238;
	font-size: 18px;
	padding-top: 7px;
	margin-bottom: 0px;
	vertical-align: middle;
	font-weight: bold;
}

.comment-font > p > a{
	font-size: 13px;
}

.img-comment-list {
    list-style: none;  
    padding: 0;
}
.img-comment-list li {
    margin:0;
    
}

.img-comment-list li > div {
    display:table-cell;
}

.img-comment-list img {
    border-radius:50%;
    width: 42px;
    height: 42px;
    margin-right: 10px;
    margin-top: 10px;
}

.img-comment-list p {
    margin: 0;
}

.img-comment-list span {
    font-size: .8em; 
    color: #aaa;
}

.comment-btn{
	color: #263238;
	font-size:13px;
	font-weight: bold;
	padding-left: 6px;
	padding-right: 6px;
	
}

.item-editor{
	margin-top: 16px;
	padding-top: 16px;
	padding-left: 32px;
	padding-bottom: 16px;
	border-radius: 1em;
	background-color: #FFFFFF;
	height: auto;
	
}

