.imgDetail {
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; 
}

.count-text {
	color: #CFD8DC;
	font-size: 12px;
	padding: 2px;
	font-weight: 200;
	line-height: 0px;
}

#get-text {
	color: #cfD8dc;
	font-size: 13px;
	letter-spacing: 1px;
	padding-left: 5px;
	line-height: 0px;
}

#nickname-text {
	color: #263238;
	padding-left: 5px;
}

.spacing-none {
	margin: 0px;
	padding: 0px;
}

.card-btn {
	padding-top: 10px;
}

.btn-disabled {
	opacity: 1.0;
}

.btn-disabled:hover {
	opacity: 1.0;
}

#label-btn-bg {
	padding:2px 8px 2px 5px;
	background-color: #f5f5f5;
	border-radius: 6px;
	display: inline-block;
}

.text-bold {
	font-weight: bold;
}
