.imgDetail {
	-moz-border-radius: 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px; 
}

.count-text {
	color: #CFD8DC;
	font-size: 12px;
}

#nickname-text {
	color: #263238;
	font-size: 11px;
	padding-left: 5px;
}

.spacing-none {
	margin: 0px;
	padding: 0px;
}

.card-btn {
	padding-top: 10px;
}

.btn-disabled {
	opacity: 1.0;
}

.btn-disabled:hover {
	opacity: 1.0;
}

.label-btn-bg {
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	height: 24px;
	color: #e2e6e8;
	font-size: 13px;
	word-spacing: 1px;
	font-weight: bold;
}

.text-bold {
	font-weight: bold;
}

.img-inline {
	display: inline;
}

.btn-like {
	padding-right: 0px;
}

.btn-get {
	padding-left: 0px;
}

.count-glyphicon {
	color:#CFD8DC; 
	padding-right: 3px; 
	font-size:11px;
}

.like-glyphicon {
	color: #e2e6e8;
	font-size: 24px;
}

.get-the-app-bg {
	padding-left: 3px;
	padding-right: 5px;
	height: 50px;
	background-color: #263238;
	border-radius: 6px;
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}
