<div class="container" ng-controller="detailController">
<div class="row">
	<!--	<nav class="navbar navbar-default navbar-fixed-top">
	<div class="navbar-header">
	<div class="download-banner">
	<img class="img-responsive" src="#"/>
	</div>
	</div>
	</nav>-->

	<div class="item-thumbnail col-md-5 col-md-offset-2 col-xs-12">
		<div id="itemCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
			<ol class="carousel-indicators">
				<li data-target="#itemCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#itemCarousel" data-slide-to="1"></li>
				<li data-target="#itemCarousel" data-slide-to="2"></li>
			</ol>

			<div class="carousel-inner" id="carousel_inner_id">
				<div ng-repeat="itemImageUrl in itemImageUrls" class="item">
					<img ng-onload="onImgLoad()" class="img-responsive" ng-src="{{itemImageUrl}}" />
				</div>
			</div>

			<a class="left  carousel-control" data-target="#itemCarousel" role="button" data-slide="prev"> 
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
			</a>
			<a class="right carousel-control" data-target="#itemCarousel" role="button" data-slide="next"> 
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
			</a>
		</div>
	</div>

	<div class="item-detail col-md-3 col-xs-12">
		<div class="row">
			<div class="item-info col-md-12">
				<p class="text-left">
					냐하하하 상의#아디다스 하의#에이랜드 
				</p>
				<!--<p class="upload-font text-left">Uploaded on</p>-
				{{uploaded-date}}-->
			</div>

			<div class="item-action col-md-12 col-xs-12">
				<div class="like-action col-md-6 col-xs-6">
					<div class="btn-disabled">
						<a data-toggle="modal" data-target="#_myModal" class="clickable"> 
							<img ng-src="img/feed_card_like_ic_off.png" class="img-responsive" src="img/feed_card_like_ic_off.png">
						</a>
					</div>
				</div>
				<div class="get-action col-md-6 col-xs-6 text-right">
					<div id="label-btn-bg" class="btn-disabled clickable">
						<img src="img/feed_card_label_ic_disabled.png">
						<span id="get-text">GET</span>
					</div>
				</div>
			</div>

			<div class="item-comment col-md-12 col-xs-12">
				<div class="col-md-2 col-xs-2">
					<img src="img/feed_comment_ic.png" class="clickable">
				</div>
				<div class="col-md-10 col-xs-10 comment-font">
					<p>댓글<a href="#"> (23) </a></p>
				</div>
				<ul class="img-comment-list col-md-12 col-xs-12">
                    <li>
                        <div class="comment-img">
                          <img src="https://sdl-stickershop.line.naver.jp/products/0/0/21/260/LINEStorePC/main.png">
                        </div>
                        <div class="comment-text">
                            <strong><a href="">Nameko</a></strong>
                            <p>오홍오홍홓ㅇ홍 이뻐요 신발이 마음에들어</p> <span class="date sub-text">on March 5th, 2014</span>
                        </div>
                    </li>
                    <li>
                        <div class="comment-img">
                          <img src="http://www.childmom.com/shop/data/0/toy_130820_04.jpg">
                        </div>
                        <div class="comment-text">
                            <strong><a href="">몬스터 </a></strong>
                            <p>여름에 입으면딱일듯 컄 </p> <span>on March 5th, 2014</span>
                        </div>
                    </li>
                </ul>
				
				<div class="comment-write col-md-10 col-xs-10">
					<input type="text" class="form-control" placeholder="댓글 남기기">	
				</div>
					<button class="col-md-2 col-xs-2 btn btn-default comment-btn">Add</button>
						
				
			</div>

			<div class="item-editor col-md-12 col-xs-12">
				<a class="pull-left clickable branch-color"> <img src ="img/default-user-image.png" class="item_profile img-circle"> <span id="nickname-text" class="text-bold ng-binding">Chaesoo</span> </a>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
</div>