<div infinite-scroll="addMore()" infinite-scroll-distance="3" infinite-scroll-immediate-check=false ng-controller="homeController" align="center" id="block_container" style="position: relative;">
	<div ng-repeat="item in items" class="block">
		<div class="panel panel-default">
			<!-- <div class="card-title">
				<a class="pull-left clickable branch-color" ng-click="gotoWhomade(item.whoMadeId)">
					<img ng-src={{item.uploaderImg}} class="item_profile img-circle"/>
					{{item.whoMade}}
				</a>
				<div style="clear:both;"></div>
			</div> -->
			<div>
				<a ng-click="showDetails(item)"><img class="img-responsive clickable _img-rounded" ng-src="{{item.imageUrl}}"/></a>
				<div class="card-content">
					<p>
						{{item.content}}
					</p>
				</div>

				<div class="col-md-3">
					<a data-toggle="modal" data-target="#_myModal" class="clickable" ng-click="likeIt(item)"> <img ng-src="{{item.likeImage}}" class="img-responsive"> </a>
				</div>

				<div class="col-md-3">
					<a target="new_blank" ng-click="showReply(item)" class="clickable"><img src="img/feed_it_ic.png" class='clickable' width=21 height=28/><span>{{item.likeItCount}}</span></a>
					<a target="new_blank" ng-click="showReply(item)" class="clickable"><img src="img/feed_comment_ic.png" class='clickable' width=21 height=28/><span>{{item.replyCount}}</span></a>
				</div>
			</div>

			<div class="panel-footer" ng-show="item.replyShowValue">
				<div class="input-group fill">
					<input type="text" class="form-control" placeholder="Add comments" aria-describedby="basic-addon2" ng-model="item.replyContent" ng-keyup="addReply(item, $event.keyCode==13)">
					<span class="input-group-addon clickable" ng-click="addReply(item, $event.keyCode==0)">Add</span>
				</div>
				<ul class="list-group voffset3">
					<li class="list-group-item" ng-repeat="reply in item.replys">
						<div class="media">
							<div class="media-left">
								<a href="#" ng-click="gotoWhomade(reply.whoMadeId)"> <img class="media-object item_profile_small img-rounded" ng-src="{{reply.userImg}}"> </a>
							</div>
							<div class="media-body">
								<div class="media-heading">
									<span class="media-left"><a class="clickable" ng-click="gotoWhomade(reply.whoMadeId)">{{reply.whoMade}}</a></span>

									<p class="media-right text-muted">
										<small>{{reply.dateTime}}</small>
									</p>
								</div>
								<div class="media-left">
									{{reply.content}}
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
	</div>
		
	
	
	<!-- ###################################################################### -->


	<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog _modal-lg" ng-init="productTag = {}">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="text-danger fa fa-times">x</i>
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Product Tagging
					</h4>
				</div>
				<div class="modal-body">
					<!-- <div class="row">
						<img ng-src="{{selected.imageUrl}}" alt="teste" class="img-thumbnail">
					</div> -->
					
					<div class="col-md-12 col-centered">
						<div class="_container">
							<div class="row">
						        <!-- panel preview -->
						        <div class="col-sm-12 col-centered">
						            <h4>Add Tag</h4>
						            <div class="panel panel-default">
						                <div class="panel-body form-horizontal payment-form">
						                	<form name="productTagForm" novalidate>
						                    <div class="form-group">
						                        <label for="concept" class="col-sm-3 control-label">Category</label>
						                        <div class="col-sm-9">
						                            <!-- <input type="text" class="form-control" id="concept" name="concept"> -->
						                            <select class="form-control" ng-model="productTag.category" name="category">
						                                <option ng-repeat="productTagOpt in productTagOpts" value={{productTagOpt.val}}>{{productTagOpt.kor}}</option>
						                            </select>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label for="description" class="col-sm-3 control-label">쇼핑몰명</label>
						                        <div class="col-sm-9">
						                            <input type="text" class="form-control" id="shopName" name="shopName" ng-model="productTag.shopName" required>
						                        </div>
						                    </div> 
						                    <div class="form-group">
						                        <label for="amount" class="col-sm-3 control-label">Web Page</label>
						                        <div class="col-sm-9">
						                            <input type="url" class="form-control" id="webPage" name="webPage" ng-model="productTag.webPage" required>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <label for="status" class="col-sm-3 control-label">Price</label>
						                        <div class="col-sm-9">
						                        	<div class="input-group input-group-lg">
													  <span class="input-group-addon" id="sizing-addon1">₩</span>
													  <input type="text" class="form-control" ng-model="productTag.price" name="price" id="addProductPrice" required _pattern="[0-9,]*" style="color:blue;" ng-change="priceChange()" ng-keypress="enterProductTag(item, $event)" />
													</div>
						                        </div>
						                    </div>
						                    <div class="form-group">
						                        <div class="col-sm-12 text-right">
						                            <button type="button" class="btn btn-default preview-add-button" ng-click="addProductTag(selected)" ng-disabled="validProductTag()">
						                                <span class="glyphicon glyphicon-plus"></span> Add
						                            </button>
						                        </div>
						                    </div>
						                    </form>
						                </div>
						            </div>            
						        </div>
						    </div>
						    <div class="row"> 
						        <div class="col-sm-12">
						            <h4>List</h4>
						            <div class="row">
						                <div class="col-xs-12">
						                    <div class="table-responsive">
						                        <table class="table preview-table">
						                            <thead>
						                                <tr>
						                                    <th>Category</th>
						                                    <th>Name</th>
						                                    <th>Web</th>
						                                    <th>Price</th>
						                                    <th style="text-align: center;">Delete</th>
						                                </tr>
						                            </thead>
						                            <tbody>
						                            	<tr ng-repeat="tag in tags">
						                            		<td>{{productTagOpts[tag.category].kor}}</td>
						                            		<td>{{tag.shopName}}</td>
						                            		<td><a href="{{tag.webPage}}" target="_blank">{{tag.webPage}}</a></td>
						                            		<td>{{tag.price | number }}</td>
						                            		<td align="center"><span class="glyphicon glyphicon-remove has-feedback text-danger clickable" ng-click="deleteTag(tag)" ng-show="isMineTag(tag)"></span></td>
						                            		
						                            		
						                            	</tr>
						                            </tbody> <!-- preview content goes here-->
						                        </table>
						                    </div>                            
						                </div>
						            </div>
						            <!-- <div class="row text-right">
						                <div class="col-xs-12">
						                    <h4>Total: <strong><span class="preview-total"></span></strong></h4>
						                </div>
						            </div>
						            <div class="row">
						                <div class="col-xs-12">
						                    <hr style="border:1px dashed #dddddd;">
						                    <button type="button" class="btn btn-primary btn-block">Submit all and finish</button>
						                </div>                
						            </div> -->
						        </div>
							</div>
						</div>
					</div>
	
					<div class="clearfix"></div>
					<!-- <p class="open_info hide">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					</p> -->
				</div>
	
				<div class="modal-footer">
	
					<div class="text-right pull-right col-md-3">
						<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Done</button>
					</div>
					
					<!-- <div class="text-right pull-right col-md-3">
						Atacado:
						<br/>
						<span class="h3 text-muted"><strong>R$35,00</strong></span>
					</div> -->
	
				</div>
			</div>
		</div>
	</div>
	
</div>