<div class="container" ng-controller="listController">
	<div id="block_container" infinite-scroll="addMore()" infinite-scroll-distance="7" infinite-scroll-immediate-check=false align="center" style="position: relative; height:100vh">
		<div ng-repeat="item in items" class="block" style="position: absolute;">
			<div class="panel panel-default">
				
				<div>
					<a ng-click="showDetails(item)"><img class="imgDetail img-responsive clickable" ng-src="https://athere.blob.core.windows.net/item-image-container/{{item.id}}"/></a>
						
					<div class="container-fluid card-content">
						<p class="text-left spacing-none">{{item.content}}</p>
						
						<div class="row">
							<div class="col-md-12 text-left">
								<a target="new_blank" ng-click="showReply(item)" class="clickable"><img src="img/feed_card_num_like_ic.png" class='clickable'/><span class="count-text">{{item.likeItCount}}</span></a>
								<a target="new_blank" ng-click="showReply(item)" class="clickable"><img src="img/feed_card_num_comment_ic.png" class='clickable'/><span class="count-text">{{item.replyCount}}</span></a>
							</div>
						</div>
						
						<div class="row card-btn">
							<div class="col-md-6 col-xs-6 text-left">
								<div class="btn-disabled">
									<a data-toggle="modal" data-target="#_myModal" class="clickable" ng-click="likeIt(item)"> <img ng-src="{{item.likeImage}}" class="img-responsive"/></a>
								</div>
							</div>
							<div class="col-md-6 col-xs-6 text-right">
								<div id="label-btn-bg" class="btn-disabled clickable"><img src="img/feed_card_label_ic_disabled.png"/><span id="get-text">GET</span></div>
							</div>
						</div>
					</div>

					<div class="card-title">
						<a class="pull-left clickable branch-color" ng-click="gotoWhomade(item.whoMadeId)">
							<img ng-src={{item.uploaderImg}} class="item_profile img-circle"/>	<span id="nickname-text" class="text-bold">{{item.whoMade}}</span></a>
						<div style="clear:both;"></div>
					</div>					
				</div>

				<div class="panel-footer" ng-show="item.replyShowValue">
					<div class="input-group fill">
						<input type="text" class="form-control" placeholder="Add comments" aria-describedby="basic-addon2" ng-model="item.replyContent" ng-keyup="addReply(item, $event.keyCode==13)">
						<span class="input-group-addon clickable" ng-click="addReply(item, $event.keyCode==0)">Add</span>
					</div>
					<ul class="list-group voffset3">
						<li class="list-group-item" ng-repeat="reply in item.replys">
							<div class="media">
								<div class="media-left">
									<a href="#" ng-click="gotoWhomade(reply.whoMadeId)"> <img class="media-object item_profile_small img-rounded" ng-src="{{reply.userImg}}"> </a>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<span class="media-left"><a class="clickable" ng-click="gotoWhomade(reply.whoMadeId)">{{reply.whoMade}}</a></span>

										<p class="media-right text-muted">
											<small>{{reply.dateTime}}</small>
										</p>
									</div>
									<div class="media-left">
										{{reply.content}}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div align="center" ng-hide="itemEmpty()">
		<span class="fa-stack fa-lg" style="font-size:30px;">
			<i class="fa fa-circle fa-stack-2x" style="color:white;"></i> 
			<i class="fa fa-spinner fa-pulse fa-stack-1x"></i>
			<!-- <i class="fa fa-square-o fa-stack-2x"></i> --> 
			<!-- <i class="fa fa-twitter fa-stack-1x"></i> --> 
		</span>
		<!-- <i class="fa fa-circle" style="font-size: 55px;">
		<i style="font-size: 44px;" class="fa fa-spinner fa-pulse"></i>
		</i> -->
	</div>
</div>


