<div class="container" ng-controller="listController">
	<div id="block_container" infinite-scroll="addMore()" infinite-scroll-distance="7" infinite-scroll-immediate-check=false align="center" style="position: relative; height:100vh">
		<div ng-repeat="item in items" class="block" style="position: absolute;" ng-show="item.isLoaded">
			<div class="panel panel-default">

				<div>
					<a href="#/item_detail/{{item.id}}"><img ng-onload="onImgLoad(item)" class="imgDetail img-responsive clickable" ng-src="{{item.itemImageUrl}}"/></a>

					<div class="container-fluid card-content">
						<p class="text-left spacing-none">
							{{item.content}}
						</p>

						<div class="row">
							<div class="col-md-12 text-left">
								<a target="new_blank" class="clickable"><span class="glyphicon glyphicon-heart count-glyphicon" aria-hidden="true"></span><span class="count-text">{{item.likeCount}}</span></a>
								<a target="new_blank" class="clickable"><span class="glyphicon glyphicon-comment count-glyphicon" aria-hidden="true" style="padding-left: 6px;"></span><span class="count-text">{{item.replyCount}}</span></a>
							</div>
						</div>

						<div class="row card-btn">
							<div class="col-md-6 col-xs-4 text-left btn-like">
								<div class="btn-disabled clickable">
									<a data-toggle="modal" data-target="#_myModal" ng-click="like(item)"><span class="glyphicon glyphicon-heart like-glyphicon" aria-hidden="true"></span></a>
								</div>
							</div>
							<div class="col-md-6 col-xs-8 text-right btn-get">
								<button type="button" class="btn btn-default preview-add-button" ng-click="showProductTagDialog(item)" ng-disabled="!item.hasProductTag">
									GET
								</button>
							</div>
						</div>
					</div>

					<div class="card-title">
						<a class="pull-left clickable branch-color" ng-click="gotoWhomade(item.whoMadeId)"> <img ng-src={{item.userProfileUrl}} class="item_profile img-circle"/> <span id="nickname-text" class="text-bold">{{item.whoMade}}</span></a>
						<div style="clear:both;"></div>
					</div>
				</div>

				<div class="panel-footer" ng-show="item.replyShowValue">
					<div class="input-group fill">
						<input type="text" class="form-control" placeholder="Add comments" aria-describedby="basic-addon2" ng-model="item.replyContent" ng-keyup="addReply(item, $event.keyCode==13)">
						<span class="input-group-addon clickable" ng-click="addReply(item, $event.keyCode==0)">Add</span>
					</div>
					<ul class="list-group voffset3">
						<li class="list-group-item" ng-repeat="reply in item.replys">
							<div class="media">
								<div class="media-left">
									<a href="#" ng-click="gotoWhomade(reply.whoMadeId)"> <img class="media-object item_profile_small img-rounded" ng-src="{{reply.userProfileUrl}}"> </a>
								</div>
								<div class="media-body">
									<div class="media-heading">
										<span class="media-left"><a class="clickable" ng-click="gotoWhomade(reply.whoMadeId)">{{reply.whoMade}}</a></span>

										<p class="media-right text-muted">
											<small>{{reply.dateTime}}</small>
										</p>
									</div>
									<div class="media-left">
										{{reply.content}}
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
