<div ng-controller="testController">
	<div align='center'>
		<button class="btn btn-default" ng-click="open()">
			Open
		</button>
		<button class="btn btn-default" ng-click="test()">
			Test
		</button>
		<button class="btn btn-default" ng-click="close()">
			Close
		</button>
		<button class="btn btn-default" ng-click="upload()">
			Upload
		</button>
		<button class="btn btn-default" ng-click="testingSas()">
			testingSas
		</button>
		<input type="file" alt="profile" id='uploader' accept="image/*">
		
		<canvas id='myCanvas0'></canvas>
		<canvas id='myCanvas1'></canvas>
		<canvas id='myCanvas2'></canvas>
		<div>
			{{screen}}
		</div>
	</div>


</div>